apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: hellojs-argocd
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/MichaelMadhukalya/grafxp
    targetRevision: HEAD
    path: /kustomize
    kustomize:
      version: v3.5.4
  destination:
    namespace: default
    server: https://kubernetes.default.svc
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
    retry:
      limit: 5
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m
